gunicorn
flask
flask-cors
transformers
git+https://github.com/openai/whisper.git
yt-dlp
youtube-transcript-api
requests
torch
transformers
accelerate
bitsandbytes
llama-cpp-python
huggingface_hub
# For GPU acceleration, install with:
# pip install llama-cpp-python --extra-index-url=https://jllllll.github.io/llama-cpp-python-cuBLAS-wheels/AVX2/cu122